html{
    scroll-behavior: smooth;
}
body{
  color: black;
  font-family: 'Gopher Text',sans-serif;
  background-position: center;
  background-size: cover;
  font-size: 14px;
  border: 2px black;
  margin: 1.2em;
  padding-top: 10px
  background-repeat: no-repeat;
  background-color: #DDDDDD;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .100em;
  position: relative;
  display: block;
  padding: 1em;
}

main{

}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #DDDDDD;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 450px;
  height: 300px;
  margin: 10px;
  margin-top: 100px;
  margin-left: 150px;
  text-align: center;

}

img{
  width:25%;
  height:20%;
  align-items:flex-start;
}



h1{
  color: #0f0f15;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}


p{
  color:black;
  padding-top: 10px;
  word-spacing: inherit;
}

header{
  font-style: normal;
  color: black;
  text-align:right

}

header p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}


.container{
  display:grid;
  grid-template-columns: 100px 400px 100px;
  grid-template-rows: 30px repeat(5,auto) 100px;
  grid-row-gap: 15px;

}
.home, .about, .resume, .contact{
  grid-column: 2/span 1;
}

.home{
  grid-column: 2 auto;
}


footer{
  position: fixed;
  min-height: 60px;
  left:0px;
  bottom:0px;
  width:100%;
  background:grey;
  text-align: center;
  color: white;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none;
    transition: none;
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
}





/**flip_card**/
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 7px solid black;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #cccc;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back-header {
  color: black;
}

section
{
  width: 1000px;
  height: 600px;
  margin-left: 15%;
  margin-top: 24px;
  margin-bottom: 24px;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  border-color: black;
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 600px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 200px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
/**
body {
  margin: 0;
  padding: 0;
}
**/
